<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>
    
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="app">
    
    <h1>REGISTERED USERS</h1>

    <!-- <pre>{{ users[0] }}</pre> -->

    <table border='1' cellpadding='10' cellspacing='0' width='500'>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>EMail</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <tr v-for="user in users">
            <td>{{user.id}}</td>
            <td nowrap>{{user.name}}</td>
            <td nowrap>{{user.email}}</td>
            <td><button @click="update">O</button></td>
            <td><button @click="delete">X</button></td>
        </tr>
    </table>
    
    <!--
    <ul>
        <li v-for="user in users"><b>id:</b>{{user.id}} <b>name:</b>{{user.name}} <b>email:</b>{{user.email}}</li>
    </ul>
    -->

</div>

<script>
  const { createApp } = Vue

  createApp({
    data() {
      return {
        users:[],
      }
    },

    mounted (){
        fetch('list.php')
        .then(response => response.json())
        .then(json =>{
            // console.log(json)
            this.users = json
        })
    },

    mehods: {

        update(){
            const formData = new FormData();
            formData.append('name',  this.name);
            formData.append('email', this.email);

            // fetch("https://localhost/vue3/number.sum.php",
            fetch("update.php",
            {
                method: 'post',
                body: formData
            })
            .then(response => response.json())
            .then(json => {
                console.log(json)
                this.reloadForm()

            })
        }, // update


        delete(){
            const formData = new FormData();
            formData.append('name',  this.name);
            formData.append('email', this.email);

            // fetch("https://localhost/vue3/number.sum.php",
            fetch("delete.php",
            {
                method: 'post',
                body: formData
            })
            .then(response => response.json())
            .then(json => {
                console.log(json)
                alert(json.message)
                this.reloadForm()
            })
        }, // delete

        reloadForm(){
            
        }

    }
  }).mount('#app');

</script>

</body>
</html>